In [13]:
!pip install psycopg2-binary
!pip install flask-sqlalchemy
!pip install Flask-Migrate

Collecting psycopg2-binary

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\Jason\\anaconda3\\envs\\PythonData\\Lib\\site-packages\\psycopg2\\_psycopg.cp36-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

  Downloading psycopg2_binary-2.8.6-cp36-cp36m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2-binary
Collecting flask-sqlalchemy
  Downloading Flask_SQLAlchemy-2.4.4-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: Flask>=0.10 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from flask-sqlalchemy) (1.1.2)
Requirement already satisfied: SQLAlchemy>=0.8.0 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from flask-sqlalchemy) (1.3.16)
Requirement already satisfied: click>=5.1 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.10->flask-sqlalchemy) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.10->flask-sqlalchemy) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.10->flask-sqlalchemy) (2.11.2)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.10->flask-sqlalchemy) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.10->flask-sqlalchemy) (1.1.1)
Installing collected packages: flask-sqlalchemy
Successfully installed flask-sqlalchemy-2.4.4
Collecting Flask-Migrate
  Downloading Flask_Migrate-2.5.3-py2.py3-none-any.whl (13 kB)
Collecting alembic>=0.7
  Downloading alembic-1.4.3-py2.py3-none-any.whl (159 kB)
Requirement already satisfied: Flask-SQLAlchemy>=1.0 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask-Migrate) (2.4.4)
Requirement already satisfied: Flask>=0.9 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask-Migrate) (1.1.2)
Collecting python-editor>=0.3
  Downloading python_editor-1.0.4-py3-none-any.whl (4.9 kB)
Requirement already satisfied: SQLAlchemy>=1.1.0 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from alembic>=0.7->Flask-Migrate) (1.3.16)
Collecting Mako
  Downloading Mako-1.1.3-py2.py3-none-any.whl (75 kB)
Requirement already satisfied: python-dateutil in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from alembic>=0.7->Flask-Migrate) (2.8.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.9->Flask-Migrate) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.9->Flask-Migrate) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.9->Flask-Migrate) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.9->Flask-Migrate) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.9.2 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from Mako->alembic>=0.7->Flask-Migrate) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\jason\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil->alembic>=0.7->Flask-Migrate) (1.14.0)
Installing collected packages: python-editor, Mako, alembic, Flask-Migrate
Successfully installed Flask-Migrate-2.5.3 Mako-1.1.3 alembic-1.4.3 python-editor-1.0.4

In [81]:
# import necessary libraries
from flask import Flask, render_template
from flask_sqlalchemy import SQLAlchemy
import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
import pandas as pd
from configs import password
from flask_migrate import Migrate
#%load_ext sql
import numpy as np
import json

In [153]:
conn = psycopg2.connect(host="localhost", port = 5432, database="S_Korean_Covid_db", user="postgres", password=password)
cur = conn.cursor()
#print ( conn.get_dsn_parameters(),"\n")

In [154]:
cur.execute('''
    SELECT province, AVG(avg_temp)
    FROM weather 
    GROUP BY province
            ''')
query_results = cur.fetchall()
query_results
#conn.close()

InvalidTextRepresentation: invalid input syntax for type numeric: "AVG(avg_temp)"
LINE 2:     SELECT province, ROUND('AVG(avg_temp)', 2)
                                   ^

In [152]:
cur.close()

In [74]:
>>> cur.execute("""
...   SELECT
...     id, code, province
...   FROM weather
...   LIMIT 10
... """)
>>> columns = (
...     'id', 'code', 'province'
... )
>>> results = []
>>> for row in cur.fetchall():
...     results.append(dict(zip(columns, row)))
results[0]['province']

'Seoul'

In [47]:
tester

           0      1                 2           3     4     5     6     7
0          1  10000             Seoul  2016-01-01   1.2  -3.3   4.0  73.0
1          2  11000             Busan  2016-01-01   5.3   1.1  10.9  52.1
2          3  12000             Daegu  2016-01-01   1.7  -4.0   8.0  70.5
3          4  13000           Gwangju  2016-01-01   3.2  -1.5   8.1  73.1
4          5  14000           Incheon  2016-01-01   3.1  -0.4   5.7  83.9
...      ...    ...               ...         ...   ...   ...   ...   ...
26266  26267  50000      Jeollabuk-do  2020-06-29  22.0  19.7  26.5  85.1
26267  26268  51000      Jeollanam-do  2020-06-29  21.9  20.0  24.0  97.9
26268  26269  60000  Gyeongsangbuk-do  2020-06-29  20.4  17.4  24.5  90.9
26269  26270  61000  Gyeongsangnam-do  2020-06-29  21.9  18.8  25.5  85.0
26270  26271  70000           Jeju-do  2020-06-29  23.2  19.1  27.6  87.4

[26271 rows x 8 columns]

In [24]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/S_Korean_Covid_db')
print(engine.table_names())

['cases', 'region', 'time_age', 'weather', 'time_province']

In [27]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [40]:
cases = Base.classes.cases
cases

sqlalchemy.ext.automap.cases

In [39]:
results = Session.query(cases).all()

Session.close()

# Convert list of tuples into normal list
all_cases = list(np.ravel(results))

return jsonify(all_cases)

AttributeError: type object 'cases' has no attribute '_query_cls'

In [16]:
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = "postgresql://postgres:{password}@localhost:5432/S_Korean_Covid_db"
db = SQLAlchemy(app)
migrate = Migrate(app, db)

C:\Users\Jason\anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:834: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [25]:
df_new = %sql select * from cases
df_new.DataFrame().head()

UsageError: Line magic function `%sql` not found.

In [ ]:
# merge time_province and weather
cur.execute()

In [ ]:

# List all of the countries found in the invoices table
session.query(Invoices.BillingCountry).group_by(Invoices.BillingCountry).all()

 # Design a query that lists the invoices totals for each billing country 
# and sort the output in descending order.
session.query(Invoices.BillingCountry, func.sum(Invoices.Total)).\
    group_by(Invoices.BillingCountry).\
    order_by(func.sum(Invoices.Total).desc()).all()


# Save a reference to the invoice_items table as `Items`
Items = Base.classes.invoice_items    


# List all of the Billing Postal Codes for the USA.
results = session.query(Invoices.BillingPostalCode).\
    filter(Invoices.BillingCountry == 'USA').group_by(Invoices.BillingPostalCode).all()

In [ ]:

# create instance of Flask app
app = Flask(__name__)


# create route that renders index.html template
@app.route("/")
def index():
    team_list = ["Jumpers", "Dunkers", "Dribblers", "Passers"]
    return render_template("index.html", list=team_list)


if __name__ == "__main__":
    app.run(debug=True)

# multiple csv files - done
# pull csvs to db - done
# do calculations inside db alchemy etl
# pull data into flask - converts db into json
# push json information to html dashboard


# figure out how to merge time_province and weather in postgres to we can pull
# down with flask



# note: unit 10 day 3  / check out titanic data as well
# heroku - more support - instead of github pages